@font-face {font-family: "Gotham";
  src: url("../fonts/Gotham-Book.otf") format("opentype");
  font-style: normal;
  font-weight: 400;
}

@font-face {font-family: "Gotham";
  src: url("../fonts/Gotham-Bold.otf") format("opentype");
  font-style: normal;
  font-weight: 700;
}